@import 'utils';

.auth-form {
    margin-top: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    .sent-email {
        display: flex;
        align-items: center;
        svg {
            font-size: 1.5rem;
        }
        .text {
            margin-left: 0.5rem;
        }
        font-size: 1rem;
        background: $oc-green-2;
        color: $oc-green-9;
        padding: 1rem;
    }
    .input-with-button {
        display: grid;
        input {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            // display: block;
            flex: 1;
            outline: none;
            border: 1px solid #e8e8e8;
            padding: 1rem;
            font-size: 1rem;
        }
        input.password {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            // display: block;
            flex: 1;
            outline: none;
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
        }
        input + input {
            flex: 1;
            margin-top: 1rem;
        }
        .button {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            // width: 6rem;
            height: 3rem;
            color: #fff;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            font-weight: 600;
            transition: background 0.15s ease-in;
            background: $oc-violet-6;
            border-left: $oc-violet-9;
            cursor: pointer;
            @include hover() {
                background: $oc-violet-5;
            }
            &:active {
                background: $oc-violet-7;
            }
        }
    }
    transition: opacity 0.3s ease-in;
    &.sending {
        opacity: 0.75;
        .button {
            cursor: pointer;
        }
    }

    .seperator {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
        .or {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $oc-gray-8;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 0.85rem;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}