@import 'utils';

.user-menu-wrapper {
  position: relative;
  .user-menu-positioner {
    position: absolute;
    z-index: 500;
    right: 0;
    top: 2.5rem;
    .user-menu {
      min-width: 10rem;
      @include material-shadow(2, 0.75);
      .menu-items {
        .separator {
          width: 100%;
          height: 1px;
          background: $oc-gray-2;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        padding: 0.5rem;
        background: $oc-gray-1;
        font-size: 0.7rem;
        font-weight: 500;
        color: $oc-gray-7;
        cursor: pointer;
        @include hover() {
          background: white;
        }
      }
    }
  }
}