@import "utils";

.CardForm {
  height: '100%';
  .content {
    align-items: center;
    display: flex;
  }
  .title {
    font-weight: 700;
  }
  .avatar {
    background-color: $oc-indigo-5;
    height: 56px;
    width: 56px;
  }
  .icon {
    height: 32px;
    width: 32px;
  }
}
