@import "utils";
.UserButton {
  img {
    display: block;
    width: 3rem;
    height: 3rem;
    border: none;
    // border-radius: 100%;
    // object-fit: cover;
    color: white;
    // @include material-shadow(2, 0.1);
    transition: all 0.15s ease-in;
    cursor: pointer;
    &:hover {
      // @include material-shadow(3, 0.1);
    }
  }
}