@import 'utils';

.GridContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .MuiTypography-h6 {
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 1.2rem;
        font-weight: 600;
        width: max-content;
    }
    .MuiGrid-grid-xl-6 {
        font-family: 'Nanum Gothic Coding', monospace;
    }
}

