@import 'utils';

.social-login-button {
    padding: 1rem;
    display: flex;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    transition: all .15s ease-in;
    cursor: pointer;
    svg {
        font-size: 2rem;
    }
    .text {
        font-size: 1.25rem;
        font-weight: 600;
        // margin-left: 1rem;
        &:fisrt-letter {
            text-transform: capitalize;
        }
        .login {
            font-weight: 400;
        }
    }
    &.google {
        background: $oc-blue-9;
        @include hover() {
            background: $oc-blue-7;
        }
        &:active {
            background: $oc-blue-6;
        }
    }

    & + & {
        margin-top: 1.5rem;
    }
}