@import "utils";

.DashBoardSection {
  background-image: url('../../../static/images/dashboard_background.png');
  h2 {
    margin-left: 24px;
  }
  // table {
  //   width: 100%;
  //   border: 1px solid #444444;
  //   border-collapse: collapse;
  // }
  // th,
  // td {
  //   border: 1px solid #444444;
  // }
}
