@import 'utils';



.poly-background {
  background: linear-gradient(to right bottom,#F7F9FF,hsl(0, 0%, 100%));
  width: 100%;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0px), 0 100%);
  position: relative;
  transition: all .7s ease-in-out;
  @include media("<medium") {
    height: 95vh;
  }
  &.fixed {
    position: fixed;
  }
  &.half {
    transform: translateY(-70%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 64px), 0 100%);
  }
  .image {
    transition: all 1s ease-in;
    background: url('../../../static/images/background2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    &.blur {
      opacity: 0;
    }
  }
  .inner {
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }
}