@import "utils";
.MainSidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 18rem;
  background-color: #d0ebff;
  @include media("<x-wide") {
    width: 15rem;
  }
  @include media("<large") {
    transform: translate(-100%);
  }
  background: white;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: -6px 0px 12px 0px #d6dee4;
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5d8ff;
    padding: 0.2rem 0rem 0.2rem 0rem;
  }
  .logo {
    width: 13rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
    // padding: 0rem 2rem;
    // text-align: center;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    // font-size: 2rem;
    // line-height: 2rem;
    // font-family: "Inconsolata";
    // color: $oc-gray-9;
    // display: block;
    // position: relative;
    .badge {
      color: $oc-red-6;
      font-style: italic;
      font-size: 0.875rem;
      padding: 0.25rem;
      position: absolute;
      line-height: 0.875rem;
      font-weight: 700;
      top: 1.75rem;
      left: 7.25rem;
    }
  }
  .menu {
    font-family: 'Nanum Gothic Coding', monospace;

    list-style: none;
    padding-left: 0;
    margin: 3rem 0;
    font-size: 2rem;
  }
  .placer {
    flex: 1;
  }
  .footer {
    border-top: 1px solid $oc-gray-2;
    padding-top: 1rem;
    color: $oc-gray-6;
    a:hover {
      color: $oc-gray-8;
    }
    font-size: 0.875rem;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    margin-bottom: 5.75rem;
  }
  .avatar {
    width: 7rem;
    height: 7rem;
    border: 1px solid #ececec;
    box-shadow: 0 0 37px rgba(0, 0, 0, 0.07);
  }
  .typography {
    border-spacing: 1rem;
    padding:30px 0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-style: initial;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    h6{
      font-size: 2rem;
    }
  }
}
